language: ruby
jdk:
- oraclejdk8
sudo: false
rvm:
- 2.3.1
before_install:
- openssl aes-256-cbc -K $encrypted_1409d79e04c6_key -iv $encrypted_1409d79e04c6_iv
  -in etc/secrets -out ../secrets.tar -d
- "(cd ../ && tar xvf secrets.tar)"
- chmod 600 ../release.asc
- gpg --import ../release.asc
install:
- rvm use 2.3.1
- gem install bundler
- bundle install
script: buildr package publish_if_tagged
git:
  depth: false
env:
  global:
  - secure: jJJvPn+53cXLMJw44HF/t0/FC/bsGJ8RFrmaySQELPVTX0jmRNvcB6RT9D8VGpuwUur5nbAB1DqSzBM5jd6CX6f2s9luIpR/QXPwhMi69j9pdSRf++nIID3EqjkrnVkN8yrzAR3xpK2vlybidIu6IkkyQSHr2y0SL6xB4D7Y9bcc7r6MrKyjvwFoESygOtKdwaVnlqMhH2Ob6ssxTYMDDvlxetjOneQ80Xqo/d4D0pM2BkaNcRjd1GFJO5XLxwqQYV2I9TTeTAP0wuimDzzGOb9n4tNiVtrsUCZoikCdxnDQee3PozLt5TL+AFoNWO1B4sMORNTmmP72WtlBDfJT59Zm7oLvMfkVFZlDXfp97R/ViqJ/KPZQGmiz8Een3zAKHluGb0LCEX59JP+F5glKWu1ejdPjkV/5CF9X6H14Ye6J20IPyWBCdxanjJPJ92eMoVvhnETyruCOcRhZsalxlIufR9XcqL8LiYsHrI863mfqFWYQ5g98Eh6Jtp23+Vt/XEuEmuZQ+yfcgEXBrzQR2DoMjdZskAewNYjgQRxrv5/f43QHPz/fjWHvExLxloiVuUYZ49Heyage174lm+etvrSLVo23U7N8EQcRmf3Jb7g4VJE8sjbNOVLMLz9INXw3wrK37WEuglO8uzhwIv7lSbAKGnWCSigd5cw8La5puUQ=
  - secure: gz5ZAZCQ5sXUr47PhItnIHB2icnWHmzwtoYkHq6sUPDXqkA0mxtNJDbQvTO3o9d8ZZZrWzS50TxItb1+lFJs/bvnSnAoWn531Wc2m2bT++hUvRmqQNs6deMm0dAtkPdM6lR0ef/SvGRJvvsy3rJTMlNs0kLVVJIBVvhre9lP1oXcMnaoS8xOnKRyHvymRBFLNsokLAahIyF+tnG3LIhDGzzKb4+fJO52YlAk40K4RYfYeCVuJxkl0ugPxRG3wqRanZOqrRAH7zybj/X5dLNdmfnTdOXvoK6xP7ZDkcIJq67ZxZVNz0TGUiI10+SEZFOKOKrKkLr2s11jBcYIZKeBg8o2hm6YjqxDKDaDbkwYHbjIPFLOQTCEFzlSG0xu3k1USCC8zy3o/6xVDt5zPRpiixzidYjy+XeU53LmE/I/xKEdSM+4ppT4J3nMr3Dn2z2h/nN45n1ITOFMRLYtVA9q8rZsBqmcaRGYlAWVcW/pdC8PXR9qvUM/MiQ3d5NV0TPWPCjILYTgx3qYG68F9Iey+YjordDVBunoBGD/DJ7EYIdJTevBZ+KhN1tC4N4zRj5E7UZY0WgClY/HCH5mI6H+5BZuESzeg/uGihrjAlJzdbDs+cDCEK4KMRH0qe6ntanrUXf5qh2wLtVqmudrRg8yxIqRxx5tg7OPQnQDQRq2ltk=
  - secure: D0lxYJAUEgGnhxqI9jez4cnbWA398GapIU959VuulaCPbfErNBqIvpTt+9pbBI+5EjnKFRQZmBi/pYQlVaFmASNhIOdRJnEbKlTydqmvt+cgF7/UXplC07o1aoW1GZbRXWrAiOi2qB/BBXzRBlqdqav/jTLZa7KRdzAUx2Ob47jJjBG3VRR1wKZCq+RH5lTqo5O0nwnySveLiby0UUIGXh3fzvRSkkzKMz/01orPhlRFea7XPN6rC8YDoe700bHjqUeTT5FJcBsvCtLzVtvSP6rRm72mTTo6DTtA+LAWATSpLTjEarzyEP2oaWrnvO0fEgbxZW44pydoowIIjL1SRgqvayYYo8AOFYnrFIfCEdfWCAwBRR8eYhpklb3b/vRYclYZxfMNsgUdFo81oJ/9s5yV30BdyAIfhq0YwPWrxsOO8VY+WuE+FIbIyxcHzLy8l8pJQsvxA8z8xDUlI68NtdBlLim5ZXwpczrkngRXtz5mDnc3wVtSRnXmr7JrwvLEXp1NNnzXzdAa3tQHwSE7h1tLxBDulTFqZ7P/RZI85AIOL9Wv/nHU9bhaIT1tccIFGVJXyJcE7B5DMOx9ZsgcLKFt4v6WeBGY9Vn5JyrTUW2HMgzZne8VlG67mQAxiP9z6b3V1zKPC1TIzhmhun+FtHcLJZvT9p6300xpvg/ZNCk=
